:root{
  --color-dark:#1d2025;
  --color-light:#abb3bd;
  --color-darkblue: #2e445b;
  --color-navyblue:#102a43;
}

[theme=dark]{
  --body-bg:var(--color-darkblue);
  --icon-bg:var(--color-dark) ;
  --text-color:var(--color-light) ;
  --icon-color:var(--color-light) ;
  --nav-bg:var(--color-navyblue);
  --chat-bg:var(--color-dark);
  --chat-text:var(--color-light);
}

*{
  margin: 0;
  padding: 0;
}
