:root{
  --color-dark:#1d2025;
  --color-light:#e2e5e9;
  --color-darkblue: #2e445b;
  --color-navyblue:#102a43;
  --color-green:#b9efa4;
  --color-grey:rgba(204,204,204,0.6);
}

[theme=dark]{
  --body-bg:var(--color-dark);
  --icon-bg:var(--color-dark) ;
  --text-color:var(--color-light) ;
  --icon-color:var(--color-light) ;
  --nav-bg:var(--color-dark);
  --chat-bg:var(--color-light);
  --chat-text:var(--color-dark);
  --chatInput-bg: var(--color-navyblue);
  --border-color:var(--color-grey);
}

*{
  margin: 0;
  padding: 0;
}
