.App {
  text-align: center;
}

:root{
  --color-dark:#1d2025;
  --color-light:#e3ebf4;
  --color-darkblue: #2e445b;
}

[theme=dark]{
  --body-bg:var(--color-dark);
  --text-color:var(--color-light) ;
  --nav-bg:var(--color-darkblue);
}
